@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.questions{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    height:100vh;
    color: white;
  }

